@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/benefits.css");
@import url("styles/plans.css");
@import url("styles/review.css");
@import url("styles/newsletter.css");

:root {
    --main-color: #E91C5D;
    --main-light-color: #e7376f;
    --background-color: #000;
    --second-color: #262626;
    --third-color: #1B1A1A;
    --fourth-color: #8C8C8C;
    --font-color: #FFF;
    --main-font: "Ubuntu";
}


.body_project {
    background-color: var(--background-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--font-color);
}