.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.newsletter__tittle {
    font-size: 36px;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 80px;
    margin-bottom: 20px;
}


.newsletter__text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;

}

.newsletter__container {
    display: flex;
    margin-bottom: 35px;
    gap: 20px;
}

.newsletter__mail {
    padding: 12px 100px;
    border-radius: 8px;
    text-align: center;

}

.newsletter__rights {

    color: var(--fourth-color);
    margin-bottom: 20px;
}