.plans {
    align-items: center;
    text-align: center;
    height: 100vh;
}

.plans__tittle {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 700;

}

.plans__text {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;

}

.plans__grid {
    margin: 50px 60px 30px;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.plans__grid-container {
    background: var(--second-color);
    border-radius: 30px;
    padding: 25px 70px;
}

.plans__grid-title {

    color: var(--main-color);
    font-size: 32px;
}

.plans__grid-price {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 23px;

}


.plans__grid-list-item {
    display: flex;
    margin-bottom: 36px;
    align-items: center;
    gap: 20px;

}

.list_item_noacess {
    color: var(--fourth-color);

}