.review {
    display: flex;
    align-items: center;
    text-align: center;
    background: var(--second-color);
    border-radius: 20px;
    margin: 30px;
    flex-direction: column;
}

.review__tittle {

    font-size: 36px;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 64px;
    margin-bottom: 16px;

}

.review__text {

    font-size: 26px;
    font-weight: 400;
    margin: 0 64px;
    margin-bottom: 32px;


}

.review__name {
    font-size: 26px;
    font-weight: 400;
    color: var(--main-color);
    margin-top: 14px;
}

.review__role {
    margin-top: 5px;
    margin-bottom: 64px;
}